@model LoginUserVm

<div class="flex flex-col pt-2 items-center justify-center gap-[20px]">
    <h1 class="text-primary italic text-[29px]">Login</h1>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login" class="LoginForm flex flex-col gap-[20px] justify-center">
                <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
                <div class="form-group">
                    <label asp-for="userName" class="control-label"></label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-red-500"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-red-500"></span>
                </div>
                <div class="form-group">
                 <div class="flex !flex-row items-center gap-[10px]">
                      <label asp-for="rememberMe"  class="text-white">Remember Me</label>
                      <input asp-for="rememberMe" class="form-control" />
                 </div>
                    <span asp-validation-for="Password" class="text-red-500"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="bg-primary">Submit</button>
                </div>
            </form>
        </div>
    </div
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
